* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border-style: none;
  box-sizing: border-box;
}

:root {
  font: 16px Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  background-color: initial;
}

#app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

:focus,
:focus-visible {
  outline: none;
}
